@import "@penpot/plugin-styles/styles.css";

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  padding: 10px;
  margin-top: 1rem;
  margin-inline: auto;
  max-width: 400px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.spacer-8 {
  height: 8px;
}

.button-container {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

input[type="range"] {
  margin-top: -4px;
  width: 100%;
}

[data-theme="light"] .range {
  accent-color: var(--la-primary);
}
[data-theme="dark"] .range {
  accent-color: var(--da-primary);
}
